
@{
    ViewBag.Title = "DaLat2";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Đà Lạt</p>
            <h1>Vé Vườn Ánh Sáng - Lumiere Đà Lạt </h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2001271397959/Light%2520Garden%2520Tickets%2520-%2520Lumiere%2520Dalat%2520-56e16029-6662-4051-a689-72385d3e2c7f.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>
    </div>

<div class="Chitiet">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Trải nghiệm các phòng giải trí tương tác, bao gồm phòng Thiên hà vô tận, Thực tế ảo, Không gian nhiệm màu và đặc biệt phòng Mê cung ánh sáng</li>
            <li>Tận hưởng không gian được thiết kế trong nhà với ánh sáng tuyệt đẹp dẫu nắng hay mưa</li>
            <li>Chụp những bức ảnh sống áo đầy nghệ thuật! </li>
            <li>Bước qua 9 phòng với 9 chủ đề riêng biệt, đem bạn đến những "thế giới thu nhỏ" khác nhau</li>
            <img style="transform:translateY(20px) translateX(-30px);width: 30px;height: 40px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533078216-28e45a291d35a380e73193eff26b4938.png">
            <h2 style="margin-left:10px;margin-top: -10px; font-size: 20px;">Phù hợp cho: Giải trí, Gia đình vui vẻ, Ẩm thực châu Á</h2>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Bạn đã sẵn sàng cho chuyến đi chơi Đà Lạt tiếp theo của mình chưa?   </p>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Nếu bạn đang rục rịch lên kế hoạch, hãy nhớ đưa trải nghiệm đi cáp treo Đà Lạt từ đồi Robin đến Thiền Viện Trúc Lâm vào danh sách những nơi phải thử nhé! Ngồi trên cáp treo và ngắm cảnh núi Langbiang, hồ Xuân Hương, và hồ Tuyền Lâm từ trên cao chắc chắn sẽ giúp bạn phát hiện ra thêm nhiều điều thú vị của những điểm đến tưởng như đã quen thuộc này đó.   </p>
        <p style="transform:translateY(110px) translateX(1px);font-size: 19px;">Chưa hết, nhớ tận hưởng không khí mát lạnh khi cáp treo đi qua đồi thông cao vút hay khi tăng độ cao đến 1.575 m so với mực nước biển. Hành trình sẽ khiến bạn xao xuyến với không khí lãng mạn của Đà Lạt đấy!  </p>

    </div>
</div>

<div class="Datve" >
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">100.000 VND</h1>
        <a href="/ShoppingCart/AddToCart/23"> <button class="BTNDV">Tìm vé</button></a>

        <img style="transform:translateY(130px) translateX(30px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,08:00-22:00</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 16:00 )</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>
    </div>
