
@{
    ViewBag.Title = "Công viên nước Đà Nẵng Mikazuki Water Park 365";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Vietnam</p>
            <h1>Vé công viên suối khoáng nóng Núi Thần Tài</h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/5728164756603/Da%2520Nang%2520Mikazuki%2520Water%2520Park%2520365-a801290b-2b1d-43f6-b146-fc30c5785692.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280">
        </div>
        <div style="margin:auto;width:1300px;height: 70px;">
            <h2 style="margin-left:-50px;margin-top: 30px; font-size: 40px;">Chi tiết sản phẩm</h2>
        </div>
    </div>
    <div class="Chitiet">
        <div style="width: 850px;transform: translateX(30px) ; ">
            <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
            <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
                <li>Vui chơi thỏa thích với nhiều trò chơi hấp dẫn ở công viên nước</li>
                <li>Tận hưởng khu hồ bơi, jacuzzi, và khu tắm onsen Nhật Bản</li>
                <li>Bung lụa ở khu đấu trường bùn</li>
                <li>Cùng lập hội để khám phá Công viên Khủng long đầy hấp dẫn</li>
            </ul>
            <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
            <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Còn gì tuyệt vời hơn khi cả gia đình cùng nhau vui chơi thỏa thích ở Công viên suối khoáng nóng Núi Thần Tài nhỉ. Tận hưởng làn nước mát rượi và chơi hết mình ở khu công viên nước với nhiều đường trượt và cầu trượt hấp dẫn. Tiếp tục các hoạt động dưới nước ở khu hồ bơi, hồ jacuzzi, khu đấu trường bùn hoặc trải nghiệm tắm onsen Nhật Bản.</p>
            <p style="transform:translateY(130px) translateX(1px);font-size: 19px;">Sau khi tắm thật sảng khoái trong khu công viên nước tại suối khoáng nóng Thần Tài rồi, bạn có thể thong thả đi dạo ngắm cảnh ở con đường ven suối, đường hoa phong lan, khám phá Công viên Khủng long hoặc đến thăm đền Thần Tài và tượng Di Lặc. Hãy cùng tạo nên những kỷ niệm đáng nhớ cho ngày nghỉ của bạn tại suối khoáng nóng Thần Tài nhé!</p>

        </div>
    </div>

    <div class="Datve">
        <div style="width: 400px;transform: translateX(30px) ;">
            <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
            <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">100.000 VND</h1>
            <a href="/ShoppingCart/AddToCart/14"> <button class="BTNDV">Tìm vé</button></a>
            <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,08:30-17:30</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 15:00 )</p>
            <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
            <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
            <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
            <hr style="transform:translateY(190px) ; font-size: 20px;">
            <h3 style="transform:translateY(230px) translateX(20px);font-size: 24px;">Tính năng</h3>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


        </div>
    </div>
</div>
    

