
@{
    ViewBag.Title = "Vé Asia Park Đà Nẵng";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Vietnam</p>
            <h1>Vé Asia Park Đà Nẵng</h1>
            <iframe src="https://www.youtube.com/embed/ilZqi4oxO40?autoplay=1&mute=1"></iframe>
        </div>
        <div style="margin:auto;width:1300px;height: 70px;">
            <h2 style="margin-left:-50px;margin-top: 30px; font-size: 40px;">Chi tiết sản phẩm</h2>
        </div>
    </div>
    <div class="Chitiet">
        <div style="width: 850px;transform: translateX(30px) ;">
            <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
            <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
                <li>Trải nghiệm châu Á thu nhỏ được thể hiện qua những công trình kiến trúc đặc trưng</li>
                <li>Cuốn hút đến nghẹt thở với các trò chơi trong nhà và ngoài trời như tháp rơi tự do Golden Sky Tower và tàu lượn dạng treo Queen Cobra</li>
                <li>Thích thú với không gian mua sắm và thế giới ẩm thực đa dạng</li>
                <li>Tận hưởng cuối tuần cùng gia đình và bạn bè trong không gian xanh mướt tại Sun World Đà Nẵng Wonders</li>
            </ul>
            <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
            <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Bạn đang tìm kiếm một nơi kết hợp trò chơi và chương trình giải trí đẳng cấp thế giới với sự pha trộn hài hoà của văn hoá Á Đông, thì Asia Park Đà Nẵng quả là điểm đến cực kì phù hợp với bạn. Bạn sẽ có cảm giác như đi qua một châu Á thu nhỏ qua những công trình kiến trúc đến từ 10 quốc gia châu Á.</p>
            <p style="transform:translateY(130px) translateX(1px);font-size: 19px;">Không những thế, bạn sẽ được tham gia các trò chơi hấp dẫn như vòng đu quay Sun Wheel, một trong những vòng đu quay cao nhất thế giới, và các trò chơi cảm giác mạnh như tháp rơi tự do Golden Sky Tower và tàu lượn dạng treo Queen Cobra. Cuối cùng, hãy cùng gia đình và bạn bè tận hưởng không gian mua sắm và thế giới ẩm thực đa dạng trong không gian xanh mướt tại Asia Park Đà Nẵng!</p>
            <p style="transform:translateY(150px) translateX(1px);font-size: 19px;font-weight: bold; color: red;">Lưu ý: Asia Park không yêu cầu khách mua vé vào cổng</p>
            <img style="transform:translateY(170px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/img20170406043440563-jpg-1080x720-FIT-a36c2b70f9fd2c1d8a8326bff50e4f89.jpeg?_src=imagekit&tr=dpr-2,c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(170px) translateX(90px);font-size: 19px;font-weight: bold;">Nếu bạn là người ưa thích các trò chơi mạo hiểm, thì Asia Park dành cho bạn đấy!</p>
            <img style="transform:translateY(200px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/42495034-987799761392771-4084631649319387136-o-jpg-1200x720-FIT-0410aaeae7d8b93924c006adb8a89378.jpeg?_src=imagekit&tr=dpr-2,c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(200px) translateX(200px);font-size: 19px;font-weight: bold;">Nhưng đây cũng là địa điểm thích hợp cho cả gia đình</p>
            <img style="transform:translateY(220px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/images1291386-anh-7-jpg-1080x720-FIT-54491d523fe1317fffcd1c7facaebf0a.jpeg?_src=imagekit&tr=dpr-2,c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(220px) translateX(180px);font-size: 19px;font-weight: bold;">Ôm trọn toàn cảnh thành phố Đà Nẵng từ trên Sun Wheel</p>
        </div>
    </div>

    <div class="Datve">
        <div style="width: 400px;transform: translateX(30px) ;">
            <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
            <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">45.000 VND</h1>
            <a href="/ShoppingCart/AddToCart/17"> <button class="BTNDV">Tìm vé</button></a>
            <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,15:00-22:00</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 21:00 )</p>
            <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
            <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
            <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
            <hr style="transform:translateY(190px) ; font-size: 20px;">
            <h3 style="transform:translateY(230px) translateX(20px);font-size: 24px;">Tính năng</h3>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533156947-8b600d26b18117730c2ce64fbb2bc3a0.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Giá đặc biệt</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533055085-d48c9601a727cafae794a12d31311767.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Vào cửa dễ dàng</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


        </div>
    </div>
</div>


