
@{
    ViewBag.Title = "HCM1";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Quận Bình Thạnh</p>
            <h1>Vé đài quan sát SkyView tại Vincom Center Landmark 81</h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2000639648830/Vincom%2520Center%2520Landmark%252081%2520SkyView%2520Observation%2520Deck%2520Tickets-a91b82bb-5fb2-4def-a1b9-12280be71fd7.png?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>
    </div>

<div class="Chitiet">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Vui chơi cuối tuần với trải nghiệm khó quên tại Vincom Landmark 81</li>
            <li>Bước chân lên cầu SkyTouch và ngắm nhìn khung cảnh tuyệt đỉnh của thành phố từ độ cao 461,3 mét                </li>
            <li>Trải nghiệm các trò chơi VR công nghệ cao</li>
            <li>Tạo nên những khoảnh khắc xuất thần tại những góc chụp thần sầu!</li>
            <li>Thưởng thức cà phê hoặc bữa ăn ngon miệng tại Miwaku Coffee Lounge nằm ở độ cao 300 mét</li>
            <img style="transform:translateY(20px) translateX(-30px);width: 30px;height: 40px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533078216-28e45a291d35a380e73193eff26b4938.png">
            <h2 style="margin-left:10px;margin-top: -10px; font-size: 20px;">Phù hợp cho: Chụp ảnh, Lãng mạn, Tham quan</h2>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Khi bạn đặt chân đến thành phố Hồ Chí Minh, bạn nhất định phải ghé thăm toà nhà cao nhất Việt Nam và Đông Nam Á — Vincom Landmark 81. Mở cửa vào năm 2019, thành tựu kiến trúc này chào đón hàng ngàn khách tham quan nhờ vào thiết kế đặc biệt và đài quan sát SkyView nằm từ tầng 79 đến 81 ở độ cao 461,3 mét. Với toàn cảnh thành phố tuyệt đẹp nhìn từ đài quan sát, đây thực sự là một trải nghiệm bạn không thể bỏ lỡ. Bạn nhớ mang theo máy ảnh để tác nghiệp nhé, vì đây là một nơi sống ảo chất với trước khung cảnh ngoạn mục của thành phố!            </p>
        <img style="transform:translateY(150px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/landmark-81-4-jpg-1080x720-FIT-43b6180678df2df90865bdde75d29d9e.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <p style=" transform:translateY(160px) translateX(170px);font-size: 19px;font-weight: bold;">Cùng người thân thương của bạn ngắm nhìn thế giới từ trên cao   </p>
        <img style="transform:translateY(170px) translateX(180px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/landmark-81-7-jpg-1080x720-FIT-0341571440590d2dfeca66a9129f4cd3.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <p style=" transform:translateY(180px) translateX(170px);font-size: 19px;font-weight: bold;">Hoặc tận hưởng khoảng thời gian thật ý nghĩa cùng gia đình và bạn bè!  </p>
    </div>
</div>

<div class="Datve" ">
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">220.000 VND</h1>
        <a href="/ShoppingCart/AddToCart/31"> <button class="BTNDV">Tìm vé</button></a>
        <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582532977248-c01603da7f91217b28788f2c9642158f.png?tr=h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Có vé hôm nay</p>
        <img style="transform:translateY(130px) translateX(30px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Chủ,10:00-22:00</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 16:00 )</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>
    </div>
