
@{
    ViewBag.Title = "HCM4";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Quận 11</p>
            <h1>Dam Sen Theme Park Day Trip - From Ho Chi Minh City  </h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/1001500663847/Dam%2520Sen%2520Theme%2520Park%2520Day%2520Trip%2520-%2520From%2520Ho%2520Chi%2520Minh%2520City-14a46f6b-7b6b-486a-8b6c-5fd6757c258f.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>
    </div>

<div class="Chitiet">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Enjoy a fun and exciting day inside Dam Sen Water Park</li>
            <li>Try swimming while facing the mechanically-produced wave inside the 3000 square metre pool</li>
            <li>Dip in different pools namely Wandering River, Wave pool, Massage pool, Aqua dance, and Action pool </li>
            <img style="transform:translateY(20px) translateX(-30px);width: 30px;height: 40px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533078216-28e45a291d35a380e73193eff26b4938.png">
            <h2 style="margin-left:10px;margin-top: -10px; font-size: 20px;">Phù hợp cho: Gia đình vui vẻ</h2>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Dam Sen Water Park, with modern aquatic equipment installed complying with European standard, harmoniously located in a fresh and verdant Oriental landscape garden of 3 hectares in width just right in the city‟s heart. The park is built in a community of leisure center such as Dam Sen Park, Dam Sen Plaza and Dam Sen Sports Club.  </p>
    </div>
</div>

<div class="Datve" >
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">2.235.513 VND</h1>
        <a href="/ShoppingCart/AddToCart/34"> <button class="BTNDV">Tìm vé</button></a>
        <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582532977248-c01603da7f91217b28788f2c9642158f.png?tr=h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Ngày có vé tiếp theo: Thứ, 29 Nov 2022</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Chủ,09:30-21:30</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>
  

