
@{
    ViewBag.Title = "HN1";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Quận Hoàng Kiếm</p>
            <h1>Vé show múa rối nước Thăng Long (Không phải xếp hàng)   </h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2001486919941/Thang%2520Long%2520Water%2520Puppet%2520Show%2520Tickets%253A%2520Skip%2520The%2520Line-2ccb53d5-e178-405d-99ab-0edeb70c2146.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>
    </div>

<div class="Chitiet">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Thưởng thức một trong những loại hình nghệ thuật lâu đời được hình thành trên đồng bằng sông Hồng</li>
            <li>Hiểu hơn về đời sống văn hóa của người nông dân Bắc Bộ qua các tiết mục múa rối nước</li>
            <li>Tiện lợi với loại vé giao ngay đến khách sạn ở Hà Nội</li>
            <li>Vào cửa dễ dàng mà không phải xếp hàng</li>
            <img style="transform:translateY(20px) translateX(-30px);width: 30px;height: 40px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533078216-28e45a291d35a380e73193eff26b4938.png">
            <h2 style="margin-left:10px;margin-top: -10px; font-size: 20px;">Phù hợp cho: Khác, Gia đình vui vẻ, Khám phá văn hoá, Ẩm thực châu Á</h2>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Đến với múa rối nước Thăng Long, bạn sẽ có cơ hội hiểu hơn về một trong những loại hình nghệ thuật lâu đời được hình thành trên đồng bằng sông Hồng cách đây hơn 1.000 năm. Đảm bảo bạn sẽ không thể rời mắt khi xem những vở múa rối tái hiện lại những câu chuyện cổ tích và các sinh hoạt đời thường của người nông dân Bắc Bộ ngày xưa.    </p>
        <p style="transform:translateY(120px) translateX(1px);font-size: 19px;">.Ngoài ra, vé này còn mang lại các tiện ích khác cho bạn như không cần phải xếp hàng và giao vé đến ngay khách sạn bạn ở tại Hà Nội luôn đấy. Thật tuyệt phải không nào?    </p>
    </div>

</div>

<div class="Datve" >
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">125.000 VND</h1>
        <a href="/ShoppingCart/AddToCart/35"> <button class="BTNDV">Tìm vé</button></a>
        <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582532977248-c01603da7f91217b28788f2c9642158f.png?tr=h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Ngày có vé tiếp theo: Thứ, 29 Nov 2022</p>
        <img style="transform:translateY(130px) translateX(30px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,07:30-20:30(Quy Đổi Trước: 20:45)</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 20:45 )</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>

