
@{
    ViewBag.Title = "Vé MerPerle Hòn Tằm Resort Nha Trang";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Nha Trang</p>
            <h1>Vé MerPerle Hòn Tằm Resort Nha Trang</h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2001869534938/MerPerle%2520Hon%2520Tam%2520Resort%2520Nha%2520Trang%2520Tickets-08e91060-6caa-4451-b25b-087279b0506b.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>

<div class="Chitiet">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Ngỡ ngàng trước cảnh quan tuyệt đẹp của Hòn Tằm</li>
            <li>Nuông chiều bản thân với các dịch vụ tiện lợi tàu cao tốc khứ hồi, đồ uống chào mừng, bữa trưa tự chọn và tất cả các loại tiện ích để biến một ngày ở bãi biển trở nên hoàn hảo</li>
            <li>Vui chơi thỏa thích tại Công viên nổi, chèo thuyền kayak, thuyền thúng, v.v. </li>
            <li>Nạp năng lượng với bữa trưa buffet hảo hạng</li>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Tự thưởng cho mình một ngày thư giãn tại MerPerle Hòn Tằm Resort! Cảm thấy được nuông chiều khi bạn tận hưởng dịch vụ tàu cao tốc khứ hồi, đồ uống chào mừng và tất cả các loại tiện ích để biến một ngày đi biển trở nên hoàn hảo. Bạn sẽ có một chuyến đi thú vị trên thuyền thúng hoặc thuyền kayak, thư giãn trên một chiếc phao đầy màu sắc và nhiều hơn thế nữa.   </p>
        <p style="transform:translateY(100px) translateX(1px);font-size: 19px;">Và đừng quên nạp năng lượng cho bản thân bằng bữa trưa buffet thịnh soạn và chờ đón màn trình diễn khiêu vũ sôi động. Hãy tận hưởng một ngày tuyệt vời cùng bạn bè và gia đình tại MerPerle Hon Tam Resort!  </p>

    </div>
</div>

<div class="Datve" >
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">220.000 VND</h1>
        <a href="/ShoppingCart/AddToCart/19"> <button class="BTNDV">Tìm vé</button></a>
        <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,08:00-16:00</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 16:00 )</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <h3 style="transform:translateY(230px) translateX(20px);font-size: 24px;">Tính năng</h3>
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>
    </div>

