
@{
    ViewBag.Title = "Dịch vụ tắm bùn khoáng và spa tại I-Resort";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Nha Trang</p>
            <h1>Dịch vụ tắm bùn khoáng và spa tại I-Resort</h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2001977469254/I-Resort%2520Spa%2520and%2520Mud%2520Bath%2520Packages%2520in%2520Nha%2520Trang-21c4e036-5a5c-4da6-beef-4aa90fbb1059.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>

        <div class="Chitiet">
            <div style="width: 850px;transform: translateX(30px) ;">
                <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
                <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
                    <li>Trải nghiệm cảm giác tắm bùn khoáng trong bồn ngâm dành riêng cho bạn</li>
                    <li>Thư giãn cơ thể dưới thác khoáng</li>
                    <li>Tận hưởng một ngày tràn ngập niềm vui tại công viên nước I-Resort </li>
                    <li>Thả lỏng cơ thể khi đằm mình trong trong hồ nước khoáng</li>
                </ul>
                <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
                <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Đi chơi cuối tuần chẳng cần hầm hố. Đi chơi cuối tuần chẳng cần lịch trình dày đặc. Cuối tuần đôi khi chỉ là ngồi xuống, thở thật sâu, và kết nối với nội tâm của mình.  </p>
                <img style="transform:translateY(140px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/2-jpg-1080x720-FIT-4854734bb75399b86a44ef98ad372d32.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
                <p style=" transform:translateY(150px) translateX(170px);font-size: 19px;font-weight: bold;">Một đảo quốc nhỏ dành cho mọi lứa tuổi  </p>
                <p style="transform:translateY(160px) translateX(1px);font-size: 19px;">Tại I-Resort Spa, bạn sẽ có một trải nghiệm cực chill, cực thư giãn. Bạn sẽ được tận hưởng cảm giác thư gịãn tuyệt vời khi ngâm mình trong bùn khoáng trong bồn tắm dành riêng cho bạn. Sau đó, hãy thả lỏng mọi giác quan của bạn dưới thác khoáng nóng, trước khi xoa bóp lòng bàn chân của bạn trên đài phun nước. Đừng quên tận dụng các tiện ích khác như hồ bơi, hồ jacuzzi, và hệ thống ôn tuyền thuỷ liệu pháp để có một trải nghiệm hoàn hảo nhé. Chưa hết, bạn còn được vào cửa công viên nước nơi có những máng trượt cực kỳ vui nhộn, hồ bơi khoáng nóng, và hồ jacuzzi để bạn đắm mình thư giãn nữa đấy!  </p>

            </div>
        </div>

        <div class="Datve" >
            <div style="width: 400px;transform: translateX(30px) ;">
                <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
                <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">80.000 VND</h1>
                <a href="/ShoppingCart/AddToCart/15"> <button class="BTNDV">Tìm vé</button></a>
                <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
                <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
                <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,08:00-18:00</p>
                <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 16:00 )</p>
                <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
                <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
                <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
                <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
                <hr style="transform:translateY(190px) ; font-size: 20px;">
                <h3 style="transform:translateY(230px) translateX(20px);font-size: 24px;">Tính năng</h3>
                <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
                <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
                <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
                <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


            </div>
        </div>

    </div>
</div>
