
@{
    ViewBag.Title = "PhuQuoc3";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}

<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Phú Quốc</p>
            <h1 style="transform: translateY(-200px) translateX(60px) ">Phú Quốc United Center (VinWonders, Vinpearl Safari & Grand World)</h1>
            <img class="image" src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/4449961850307/Phu%2520Quoc%2520United%2520Center%2520%2528VinWonders%252C%2520Vinpearl%2520Safari%2520%2526%2520Grand%2520World%2529-fd6fe29d-fbf9-4675-840c-9438f82bb4d5.jpeg?_src=imagekit&tr=c-at_max,h-400,q-60,w-1280" alt="">
        </div>
        <h2 style="margin-left:30px;margin-top: 40px; font-size: 40px;">Chi tiết sản phẩm</h2>
 
</div>
<div class="Chitiet" style="height:2700px">
    <div style="width: 850px;transform: translateX(30px) ;">
        <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
        <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
            <li>Tận hưởng vé vào cửa cho phép bạn khám phá VinWonders, Vinpearl Safari, và Grand World trong suốt 2 ngày!</li>
            <li>Khám phá hơn 100 hoạt động vui chơi hấp dẫn và công viên nước lớn nhất Đông Nam Á tại VinWonders Phú Quốc</li>
            <li>Tham quan vườn thú bán hoang dã đầu tiên và duy nhất tại Việt Nam sử dụng hình mẫu từ các vườn safari quốc tế</li>
            <li>Thưởng thức show diễn Tinh Hoa Việt Nam độc đáo được dàn dựng chuyên nghiệp bởi đạo diễn nổi tiếng</li>
            <li>Mua sắm thoả thích ở hơn 1700 cửa hàng nằm trên những con phố được trang trí theo phong cách khác nhau như: phố Thượng Hải, phố Châu Âu Trung Cổ, phố Đông Dương, phố Địa Trung Hải</li>
            <img style="transform:translateY(20px) translateX(-30px);width: 30px;height: 40px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533078216-28e45a291d35a380e73193eff26b4938.png">
            <h2 style="margin-left:10px;margin-top: -10px; font-size: 20px;">Phù hợp cho: Trẻ em & Gia đình, Bữa tối ngon miệng, Chuyến phiêu lưu thiên nhiên, Giải trí, Chụp ảnh, Thời gian rảnh, Đam mê phiêu lưu, Khám phá văn hoá, Di sản thế giới, Yêu thích mua sắm, Lãng mạn, Yêu thích thiên nhiên, Gia đình vui vẻ, Trải nghiệm độc đáo</h2>
        </ul>
        <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
        <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">Giơ tay lên nếu bạn luôn cảm thấy điều này mỗi khi bước vào một cuộc hành trình mới: Quá nhiều thứ để xem nhưng lại quá ít thời gian để tận hưởng. Và nếu bạn đi du lịch cùng gia đình hoặc theo nhóm, thời gian lại còn khan hiếm hơn!             </p>
        <img style="transform:translateY(150px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/GW-6-jpg-1080x720-FIT-f9fe9441c44b94ff4ba2744573731c7d.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <p style=" transform:translateY(160px) translateX(50px);font-size: 19px;font-weight: bold; width:700px;">Nếu bạn tình cờ đến Phú Quốc trong chuyến đi tiếp theo của mình, hãy ghé thăm Phú Quốc United Center, nơi bạn có thể mua sắm, ăn uống, vui chơi, ngắm cảnh, thư giãn cùng tất tần tật mọi dịch vụ khác mà bạn có thể tưởng tượng được!   </p>
        <img style="transform:translateY(170px) translateX(180px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/VS-2-jpg-1080x720-FIT-9f35263bad9ad07a46db526e27e0e2a3.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <img style="transform:translateY(190px) translateX(180px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/GW-13-jpg-1080x720-FIT-cf20d4e700064880bf83400640dea74e.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <p style=" transform: translateY(200px) translateX(50px); font-size: 19px; font-weight: bold; width: 700px;">Với vé 2 ngày cho phép bạn tham quan VinWonders, Vinpearl Safari và Grand World, bạn sẽ có thể linh hoạt trong lịch trình và khám phá Phú Quốc theo tốc độ của riêng mình.  </p>
        <img style="transform:translateY(220px) translateX(180px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/GW-25-jpg-1080x720-FIT-7118a05e84e872362a319eab74698e5f.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
        <p style=" transform: translateY(230px) translateX(50px); font-size: 19px; font-weight: bold; width: 700px;">Bởi United Center là khu phức hợp tất cả-trong-một, bạn sẽ không phải lo lắng về phương tiện đi lại hay về việc ưu tiên sắp xếp nơi nào phải tham quan trước, tại sao chỉ đi một chỗ, khi bạn có thể ở đây, ở đó và ở khắp mọi nơi!    </p>
        <img style="transform:translateY(250px) translateX(180px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/GW-9-jpg-1080x720-FIT-220e1a81725687299a19f01c9f319c75.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">

    </div>
</div>

<div class="Datve" style=" transform: translateX(475px) translateY(-2700px); ">
    <div style="width: 400px;transform: translateX(30px) ;">
        <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
        <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">620.000 VND</h1>
        <a href="/ShoppingCart/AddToCart/28"> <button class="BTNDV">Tìm vé</button></a>
        <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582532977248-c01603da7f91217b28788f2c9642158f.png?tr=h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Có vé hôm nay</p>
        <img style="transform:translateY(130px) translateX(30px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,00:00-23:59</p>
        <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 16:00 )</p>
        <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
        <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
        <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
        <p style="transform:translateY(133px) translateX(60px); font-size: 20px;">Tiếng Anh</p>
        <hr style="transform:translateY(190px) ; font-size: 20px;">
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
        <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
        <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


    </div>
</div>
    </div>
  

