
@{
    ViewBag.Title = "VéVinWondersNhaTrang";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}



<div class="Container">
    <div class="content">
        <div class="video">
            <div class="DiaDiem">
                <p>Điểm Tham Quan</p>
            </div>
            <img style="transform: translateY(23px) translateX(223px)" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0629a9ae0d41e994ff5043f52cbb1b2e.svg">
            <p style="transform:  translateY(-1px) translateX(250px); font-size: 20px;color: gray;">Vietnam</p>
            <h1>Vé VinWonders Nha Trang </h1>
            <iframe src="https://www.youtube.com/embed/DcxCaH6VrYg?autoplay=1&mute=1"></iframe>
        </div>
        <div style="margin:auto;width:1300px;height: 70px;">
            <h2 style="margin-left:-50px;margin-top: 30px; font-size: 40px;">Chi tiết sản phẩm</h2>
        </div>
    </div>
    <div class="Chitiet" style="height:2000px;">
        <div style="width: 850px;transform: translateX(30px) ;">
            <h2 style="transform:translateY(30px);font-size: 30px;">Điểm nổi bật</h2>
            <ul style="transform:translateY(50px) translateX(20px);font-size: 19px;">
                <li>Khám phá một trong những công viên vui chơi giải trí lớn nhất Việt Nam</li>
                <li>Trải nghiệm cáp treo vượt biển dài nhất thế giới qua một trong những vịnh đẹp nhất thế giới</li>
                <li>Thử sức với các trò chơi cảm giác mạnh như đu quay nhào lộn, đu quay dây văng, và tàu siêu tốc xuyên hầm mỏ</li>
                <li>Thư giãn bên bờ biển xanh mát, phóng tầm mắt ngắm thành phố Nha Trang xinh đẹp</li>
                <li>Thưởng thức màn trình diễn 3D mapping ấn tượng và sáng tạo cùng hệ thống âm thanh hiện đại với sự góp mặt của hàng trăm vũ công quốc tế, diễn ra vào 19:30 hàng ngày </li>
            </ul>
            <h2 style="transform:translateY(70px);font-size: 30px;">Bạn sẽ trải nghiệm</h2>
            <p style="transform:translateY(90px) translateX(1px);font-size: 19px;">
                Bạn muốn có một tuần trăng mật lãng mạn? Bạn thích chơi các trò cảm giác mạnh? Hay đang tìm một nơi thư giãn cho cả gia đình? VinWonders Nha Trang sẽ đáp ứng mọi nhu cầu của bạn. Cầm vé VinWonders Nha Trang trên tay và bắt đầu chuyến đi bằng việc ngồi cáp treo vượt biển dài nhất thế giới, ngắm trọn nét thơ mộng của vịnh Nha Trang, một trong 29 vịnh biển đẹp nhất thế giới.
            </p>
            <p style="transform:translateY(130px) translateX(1px);font-size: 19px;">Đến VinWonders Nha Trang, bạn có thể tự do lựa chọn tham gia các trò chơi cảm giác mạnh như đu quay nhào lộn, đu quay dây văng, tàu lượn siêu tốc, hoặc đường zipline dài 880 m, một trong những đường zipline dài nhất Việt Nam, hoặc các trò chơi dưới nước siêu phấn khích như máng trượt Boomerang, đường trượt Kamikaze, và hố đen vũ trụ. Sau khi thỏa sức vui đùa ở khu trò chơi VinWonders Nha Trang, hãy thả mình dưới làn nước mát lạnh bên bờ biển, lắng nghe tiếng sóng vỗ rì rào rồi phóng tầm mắt ngắm thành phố Nha Trang xinh đẹp. Thiên đường là đây chứ đâu nữa!</p>

            <img style="transform:translateY(170px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/vinwonders-nha-trang-17-jpg-1080x720-FIT-1917469d2bfae53449c471011efa4145.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(170px) translateX(270px);font-size: 19px;font-weight: bold;">Địa điểm hoàn hảo cho cả gia đình</p>
            <img style="transform:translateY(200px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/vinwonders-nha-trang-14-jpg-1080x720-FIT-c39cd5d1e7d0089578d97cea6c907aa8.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(200px) translateX(180px);font-size: 19px;font-weight: bold;">Đến đây vui chơi cùng đám bạn thân cũng rất tuyệt vời đấy</p>
            <img style="transform:translateY(220px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/vinwonders-nha-trang-13-jpg-1080x720-FIT-01ce27449cd0efc5a354ae0b89d348e5.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(220px) translateX(220px);font-size: 19px;font-weight: bold;">Đập tan cái nóng tại vịnh phao nổi hoành tráng</p>
            <img style="transform:translateY(220px) translateX(170px);" src="https://ik.imagekit.io/tvlk/xpe-asset/dsIfD0QxFcgaDmB6sQchobk5CmBu9PzsWhwFXGFxJ179jzSxIGG5kZNhhHY-p7nw/xxt/experience/image/vinwonders-nha-trang-15-jpg-1080x720-FIT-fd3e8592778eeebbe9c0f0b036c1bcbc.jpeg?_src=imagekit&tr=c-at_max,h-500,q-60,w-450">
            <p style=" transform:translateY(220px) translateX(150px);font-size: 19px;font-weight: bold;">Bạn không nên bỏ lỡ show diễn 3D mapping hoành tráng này đâu!</p>
        </div>
    </div>

    <div class="Datve" >
        <div style="width: 400px;transform: translateX(30px) ;">
            <h2 style="transform:translateX(35px) translateY(30px);font-size: 30px;">Giá từ</h2>
            <h1 style="transform:translateX(35px) translateY(50px);font-size:50px ;color: rgb(255, 94, 0);">200.000 VND</h1>
            <button class="BTNDV">Tìm vé</button>
            <img style="transform:translateY(150px) translateX(-290px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533112527-d8b433ece4e5bd6641df195eeea1eb68.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(109px) translateX(60px); font-size: 20px;font-weight: bold;">Giờ hoạt động (Giờ địa phương):</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">Thứ,08:00-20:00</p>
            <p style="transform:translateY(112px) translateX(60px); font-size: 20px;">( Quy đổi trước: 18:00 )</p>
            <img style="transform:translateY(150px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/03/1643855378712-192ebd4f94c6d83b56af8b9aac33b964.png?tr=dpr-2,h-18,w-18">
            <p style="transform:translateY(125px) translateX(60px); font-size: 20px;font-weight: bold;">Các ngôn ngữ có sẵn:</p>
            <p style="transform:translateY(130px) translateX(60px); font-size: 20px;">Tiếng Việt</p>
            <p style="transform:translateY(133px) translateX(60px); font-size: 20px;"></p>
            <hr style="transform:translateY(190px) ; font-size: 20px;">
            <h3 style="transform:translateY(230px) translateX(20px);font-size: 24px;">Tính năng</h3>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/03/22/1616400208843-5663daf4fb49618b48d0b3994b2eb396.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Miễn phí huỷ</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533156947-8b600d26b18117730c2ce64fbb2bc3a0.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Giá đặc biệt</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582533055085-d48c9601a727cafae794a12d31311767.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Vào cửa dễ dàng</p>
            <img style="transform:translateY(260px) translateX(35px);width: 20px;height: 20px;" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/02/24/1582540787301-acbdf7cfb83202c8f12f58580001f5fe.png">
            <p style="transform:translateY(235px) translateX(62px); font-size: 20px;">Xác nhận tức thì</p>


        </div>
    </div>
</div>
    </div>

