
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>Bạn đã đặt vé thành công!</h2>
    <h4>Chúng đang xử lí yêu cầu của bạn, hãy theo dõi lịch trình bạn đã đặt bạn nhá!</h4>
    <a href="@Url.Action("Home","Home")">Continous shopping..</a>
</body>
</html>
